[submodule "API"]
	path = API
	url = https://github.com/Grupo-Syntax-Squad/DataBaseCallGenie.git
[submodule "FrontEnd"]
	path = FrontEnd
	url = https://github.com/Grupo-Syntax-Squad/FrontEndCallGenie.git
