/* Estilo que todas as paginas têm em comum */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #437CDE;
    display: flex;
    justify-content: space-between;
}

header nav{
    padding-top:20px;
}

header a{  
    text-decoration: none;
    color: #FFFFFF;
    margin-inline: 2rem;
}

body {
    background: linear-gradient(to bottom, #5286DF, #5675A9);
    background-repeat: no-repeat;
    height: 100vh;
}

footer{
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

.fundo{
    background-color: #ffffff72;
    border-radius: 2%;
}

.texto-homepage{
    width:300px;
    color: #8CB7DD;
}