/* Estilo da div com inputs de cadastro */

.fundo-cadastro{
    background-color: #ffffff72;
    border-radius: 2%;
    margin: auto;
    width: 600px;
}

.cadastro-container{
    padding:7%;
}

input {
    width:500px;
    border: none;
    border-radius: 2px;
    padding: 15px;
    background-color: #EBE9E9; /* cor do plano de fundo */
    margin-bottom: 2%;
}

::placeholder{
    font-size: 18pt;
}