/* Estilo para o conteúdo main de todas as páginas */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;1,9..40,100;1,9..40,200;1,9..40,300&display=swap');

/*cadastrar.ejs  e  entrar.ejs*/

.fundo-cadastro{
    max-width: 100%;
    background-color: #ffffff72;
    border-radius: 2%;
    margin: auto;
    width: 600px;
}

.cadastro-container{
    padding:7%;
}

h1{
    text-align: center;
    color: #FFFFFF;
    padding:20px;
}

input {
    width:500px;
    border: none;
    border-radius: 2px;
    padding: 15px;
    background-color: #EBE9E9; /* cor do plano de fundo */
    margin-bottom: 2%;
}

::placeholder{
    font-size: 18pt;
}

label{
    display: flex;
}
 
.button-input{ 
    /* Estilo de inputs do tipo 'button' */
    border: none;
    color: #FFFFFF;
    font-size: 15pt;
    width:200px;
    padding: 1rem;
    background-color: #0085FF;
    border-radius: 10px;
}

*{
    margin:0px;
    padding: 0px;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}


main h2{
    color: #FFFFFF;
    text-align: center;
}

.cadastro-opcao{
    background-color: #ffffff6a;
    margin:30px;
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

.cadastro-opcoes a {
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}

.cadastro-opcoes img{
    width:300px;
}

.cadastro-opcoes{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo da logo Vetor */

.logogenie{
    width: 80%;
    padding-left: 90px;
}
.fotouser{
    width: 5%;
}

/* Chamados */
body {
    background-color: #adc4ed;
    background-repeat: no-repeat;
    height: 100%;
}

a{
    text-decoration: none;
}

.fundo{
    margin: auto;
    background-color: #ffffff92;
    padding:1.5rem;
    border-radius: 20px;
}

.filtar-e-buscar-container{
    margin-bottom: 20px;
}
.filtrar-chamados-container{
    flex-direction: column;
}

.filtrar{
    text-align: center;
    /* justify-content: space-between; */
}

.filtrar, .buscar-por-titulo{
    padding:.5rem;
    background-color: #a3a3a389;
    border: 2px solid #000;
    border-radius: 10px;
}

.buscar-por-titulo{
    width:100%;
}

.filtrar p{
    display: block;
    margin: auto;
}

.filtrar-menu{
    display: none;
    background-color: #fff;
    list-style-type: none;
    padding:1rem;
    border-radius:0px 0px 20px 20px;
}

.filtrar, .filtrar-menu{
    width: 250px;
}

h1{
    text-align: center;
}

input {
    display: flex;
    width:500px;
    border: none;
    border-radius: 2px;
    padding: 20px;
    background-color: #EBE9E9; /* cor do plano de fundo */
    margin-bottom: 2%;
}

::placeholder{
    font-size: 15pt;
}

#meus-chamados-title h2{
    padding:.5rem;
    color: #000;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: left;
}

.button-input{ 
    /* Estilo de inputs do tipo 'button' */
    border: none;
    color: #FFFFFF;
    font-size: 15pt;
    width:200px;
    background-color: #0085FF;
    border-radius: 10px;
}

footer{
    color: white;
    text-align: center;
}


/*  abrirChamado.ejs */

header h2{
    color: #FFF;
}

.fundo-abrir-chamado{
    margin:2%;
    background-color: #ffffff69;
    padding:2%;
    border-radius: 20px;
}
.fundo-abrir-chamado h1{
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

#icon-back-page{
    margin:1rem ;
}

.fundo-abrir-chamado h1{
    color:#000000;
    padding: 0%;
}

.coluna-esquerda{
    text-align: center;
    display:flex;
    flex-direction: column;
    width:500px;
    height: 500px;
}
.coluna-direita{
    margin-left: 1rem;
    display:flex;
    flex-direction: column;
}

.coluna-direita > textarea{
    border: none;
    border-radius: 20px;
}

.coluna-direita ::placeholder{
    text-align: center;
}

.input-fundo{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; 
    background-color: #ffffffc9;
    border: none;
    border-radius: 10px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex{
    display:flex
}

.auto{
    margin: auto;
}

.input-equipamento{
    margin-top: 1rem;
    background-color: #ffffff97;
}

.input-equipamento, .input-equipamento > input{
    border-radius: 20px;
}

.input-equipamento > input{
    background-color: #fff;
}

textarea {
    resize: none;
  }

/* ChamadoAberto.ejs */

.info-dispositivo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:20pt;
}

.fundo-chamado-aberto{
    background-color: #ffffff3f;
    border-radius: 20px;
    padding:2rem;
}

.fundo-chamado-aberto h2{
    color: #000;
}

.status.aberto{
    color: #950000;
}

.status.andamento{
    color: #ead200;
}

.status.concluido{
    color: #3eb900;
}

.text-center{
    text-align: center;
}

.info-chamado, .info-dispositivo{
    display: flex;
}

.fundo-descricao{
    background-color: #FFFFFF;
}

.text-chamado-aberto{
    color: gray;
}

.container-nome-numero{
    justify-content: space-between;
}

.ajuda{
    text-align: right;
    margin-right: 20%;
    padding: 1rem;
}
.ajuda a{
    color:blue
}

.div-flex {
    margin: auto;
}