@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;1,9..40,100;1,9..40,200;1,9..40,300&display=swap');

*{
    margin: 0px;
    padding:0px;
}

.cadastroContainer{
    padding:7%;
}

h1{
    text-align: center;
    color: #FFFFFF;
    padding:20px;
}

input {
    width:500px;
    border: none;
    border-radius: 2px;
    padding: 15px;
    background-color: #EBE9E9;
    margin-bottom: 2%;
}

::placeholder{
    font-size: 18pt;
}

label{
    display: flex;
}
 
.buttonInput{ 
    border: none;
    color: #FFFFFF;
    font-size: 15pt;
    width:200px;
    padding: 1rem;
    background-color: #0085FF;
    border-radius: 10px;
    cursor: pointer;
}

*{
    margin:0px;
    padding: 0px;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}


main h2{
    color: #FFFFFF;
    text-align: center;
}

.cadastroOpcao{
    background-color: #ffffff6a;
    margin:30px;
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

.cadastroOpcoes a {
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}

.cadastroOpcoes img{
    width:300px;
}

.cadastroOpcoes{
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    background-color: #adc4ed;
    height: 100%;
}

a{
    text-decoration: none;
}

.fundo{
    margin: auto;
    background-color: #ffffff92;
    padding:1.5rem;
    border-radius: 20px;
}

.filtarEBuscarContainer{
    margin-bottom: 20px;
}
.filtrarChamadosContainer{
    flex-direction: column;
}

.filtrar{
    text-align: center;
}

.filtrar, .buscarPorTitulo{
    padding:.5rem;
    background-color: #a3a3a389;
    border: 2px solid #000;
    border-radius: 10px;
}

.buscarPorTitulo{
    width:100%;
}

.filtrar p{
    display: block;
    margin: auto;
}

.filtrarMenu{
    display: none;
    background-color: #fff;
    list-style-type: none;
    padding:1rem;
    border-radius:0px 0px 20px 20px;
}

.filtrar, .filtrarMenu{
    width: 250px;
}

h1{
    text-align: center;
}

input {
    display: flex;
    width:500px;
    border: none;
    border-radius: 2px;
    padding: 20px;
    background-color: #EBE9E9;
    margin-bottom: 2%;
}

::placeholder{
    font-size: 15pt;
}

#meusChamadosTitle h2{
    padding:.5rem;
    color: #000;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: left;
}

.buttonInput{ 
    border: none;
    color: #FFFFFF;
    font-size: 15pt;
    width:200px;
    background-color: #0085FF;
    border-radius: 10px;
}

footer{
    color: white;
    text-align: center;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

header h2{
    color: #FFF;
}

.fundoAbrirChamado{
    margin:2%;
    height:630px;
    background-color: #ffffffa2;
    padding:2%;
    border-radius: 20px;
}
.fundoAbrirChamado h1{
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

#iconBackPage{
    margin:1rem ;
}

.fundoAbrirChamado h1{
    color:#000000;
    font-size: 18pt;
    padding: 0%;
}

.colunaEsquerda{
    margin:0%;
    text-align: center;
    display:flex;
    flex-direction: column;
    width:500px;
    height: 500px;
}


.colunaDireita{
    margin-left: 1rem;
    display:flex;
    flex-direction: column;
    padding-inline: 5%;
    padding-top: 2%;
}

.colunaDireita > textarea{
    width: 100%;
    border: none;
    border-radius: 20px;
}

.colunaDireita ::placeholder{
    text-align: center;
}

.colunaEsquerda ::placeholder{
    text-align: center;
}

.inputFundo{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; 
    background-color: #ffffffc9;
    border: none;
    border-radius: 10px;
}

.flexRow{
    height:50px;
    margin:0%;
    display: flex;
    flex-direction: row;
}

.chamadoAberto .flexRow{
    max-height: 460px;
}
.flex{
    display:flex
}

.auto{
    margin: auto;
}

.inputEquipamento{
    width:100%;
    margin:0%;
    margin-top: 1rem;
    background-color: #ffffff97;
}
.inputEquipamento input{
    width:90%;
    margin: 2% 4%;
}

.inputEquipamento, .inputEquipamento > input{
    border-radius: 20px;
}

.inputEquipamento > input{
    background-color: #fff;
}

textarea {
    resize: none;
}

.chamadoAberto {
    display: flex;
    flex-direction: row;
    max-height: 460px;
}

.chamadoAberto .colunaDireita{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    height: 460px;
}

.infoDispositivo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:20pt;
}

.fundoChamadoAberto{
    background-color: #ffffff3f;
    border-radius: 20px;
    padding:2rem;
}

.fundoChamadoAberto h2{
    color: #000;
}

.status.aberto{
    color: #950000;
}

.status.andamento{
    color: #ead200;
}

.status.concluido{
    color: #3eb900;
}

.text-center{
    text-align: center;
}

.infoChamado, .infoDispositivo{
    display: flex;
}

.fundoDescricao{
    background-color: #FFFFFF;
}

.textChamadoAberto{
    color: gray;
}

.containerNomeNumero{
    justify-content: space-between;
}

.ajuda{
    text-align: right;
    margin-right: 20%;
    padding: 1rem;
}
.ajuda a{
    color:blue
}

.divFlex {
    margin: auto;
}

.logoIndex{
    width:100px;
}

.textoHomepage{
    width:300px;
    color: #8CB7DD;
}

#inputDescricao,#inputComentario{
    overflow: auto;
}


dialog{
    padding: 4rem;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 10px;
    width:500px;
}

dialog::backdrop{
    background-color:rgba(0, 0, 0, 0.292);
}

dialog button.sim, button.nao{
    border:none;
    padding: 5px 10px
}

dialog button.sim{
    background-color: green;
}
dialog button.nao{
    background-color: red;

}

.logonome{
    width: 55%;
}

#iconback{
    width:40px;
    height:40px;
    margin: 0%;
}

.flexRow h1{
    margin-block:0%;
}
.container_colunas{
    display:flex;
    margin: 0%;;
}

.buttonInput{
    margin: auto;
}