/* Estilo para as páginas com o header preto (quando se está logado no sistema) */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;1,9..40,100;1,9..40,200;1,9..40,300&display=swap');

*{
    margin:0px;
    padding: 0px;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
h2{
    padding-left: 0px;
}

header{
    padding: 1rem;
    background-color: #333840;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerItensRight{
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.logogenie{
    width:40px;
}

.fotouser{
    width: 8%;
}

header nav{
    padding-top:20px;
}

header a{  
    text-decoration: none;
    color: #FFFFFF;
    margin-inline: 2rem;
}
h1, h2, h3, p, a{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}