/* Estilo para o conteúdo main de todas as páginas */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;1,9..40,100;1,9..40,200;1,9..40,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;1,9..40,100;1,9..40,200;1,9..40,300&family=Poppins:ital,wght@0,300;1,200;1,300&display=swap');
/*cadastrar.ejs  e  entrar.ejs*/


*{
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
    color: #FFFFFF;
    padding:20px;
}

input {
    width:500px;
    border: none;
    border-radius: 2px;
    padding: 15px;
    background-color: #EBE9E9; /* cor do plano de fundo */
    margin-bottom: 2%;
}

::placeholder{
    font-size: 18pt;
}

label{
    display: flex;
}
 
.buttonInput{ 
    /* Estilo de inputs do tipo 'button' */
    border: none;
    color: #FFFFFF;
    font-size: 15pt;
    width:200px;
    padding: 1rem;
    background-color: #0085FF;
    border-radius: 10px;
    cursor: pointer;
}

*{
    margin:0px;
    padding: 0px;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}


main h2{
    text-align: center;
}

html {
    /* background-repeat: no-repeat; */
    height: 100%;
}

a{
    text-decoration: none;
    
}

.fundo{
    margin: auto;
    background-color: #ffffff92;
    padding:1.5rem;
    border-radius: 20px;
    margin:0%;
}

.filtros{
    color:#363636;
    display: flex;
    margin-left:0%;
    height:50px;
    padding:.5rem;
    margin:.5%;
    background-color: #a3a3a395;
    border: 2px solid #000;
    border-radius: 10px;
}

.titulo{
    height:50px;
    padding-top: .5%;
    background-color: #ffffff;
    border-radius: 10px;

}
.titulo h2{
    color: #000;
    text-align: left;
    padding-top: 0%;
}

.filtrosContainer{
    display: flex;
    justify-content: space-between;
}

.titulo, .filtrosContainer{
    margin:0%;
}

.filtros p{
    display: block;
    margin: auto;
}

.filtrarMenu{
    display: none;
    background-color: #fff;
    list-style-type: none;
    padding:1rem;
    border-radius:0px 0px 20px 20px;
}

h1{
    text-align: center;
}

input {
    display: flex;
    width:500px;
    border: none;
    border-radius: 2px;
    padding: 20px;
    background-color: #EBE9E9; /* cor do plano de fundo */
    margin-bottom: 2%;
}

::placeholder{
    font-size: 15pt;
}

.buttonInput{ 
    /* Estilo de inputs do tipo 'button' */
    border: none;
    color: #FFFFFF;
    font-size: 15pt;
    width:200px;
    background-color: #0085FF;
    border-radius: 10px;
}

footer{
    color: white;
    text-align: center;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}


/* ChamadoAberto.ejs */

.infoDispositivo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:20pt;
}

.fundohamadoAberto{
    background-color: #ffffff3f;
    border-radius: 20px;
    padding:2rem;
}

.fundo-chamado-aberto h2{
    color: #000;
}

.status.aberto{
    color: #950000;
}

.status.andamento{
    color: #ead200;
}

.status.concluido{
    color: #3eb900;
}

.text-center{
    text-align: center;
}

.infoChamado, .infoDispositivo{
    display: flex;
}

.fundoDescricao{
    background-color: #FFFFFF;
}

.textChamadoAberto{
    color: gray;
}

.containerNomeNumero{
    justify-content: space-between;
}

.ajuda{
    text-align: right;
    margin-right: 10%;
    padding: 1rem;
}

.notificacao{
    text-align: left;
    padding-left:20%;
    margin: 5px 0px;
}

.notificacao a {
    color: red;
    margin: 0px 5px;
    padding: 0;

}

.ajuda a{
    text-align: right;
}
.ajuda a{
    color:black
}

.divFlex {
    margin: auto;
}

.logoIndex{
    width:100px;
}

.textoHomepage{
    width:300px;
    color: #8CB7DD;
}

#inputDescricao,#inputComentario{
    overflow: auto;
}   

.Body {
    background: #5286DF;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    max-height: 100%;
    overflow: hidden;
}

dialog{
    padding: 4rem;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 10px;
    width:500px;
}

.filtrosLista{
    color:#363636;
    display: flex;
    margin-left:0%;
    margin-top: 2%;
    height:50px;
    padding:.5rem;
    font-family: 'Poppins', sans-serif;
    background-color: #a3a3a395;
    border: 2px solid #000;
    border-radius: 10px;
}

dialog::backdrop{
    background-color:rgba(0, 0, 0, 0.292);
}

dialog button.sim, button.nao{
    border:none;
    padding: 5px 10px
}

dialog button.sim{
    background-color: green;
}
dialog button.nao{
    background-color: red;

}

.logonome{
    width: 55%;
}

.fundoChamado{
    margin-inline: 2%;
    background-color: #ffffff85;
    /* height:630px; */
    border-radius: 20px;
    padding:2%;
}

.postButtonsC{
    color:#363636;
    display: flex;
    margin-left:0%;
    margin-top: 2%;
    width: 215px;
    height:50px;
    padding:.5rem;
    font-family: 'Poppins', sans-serif;
    background-color: #a3a3a395;
    border: 2px solid #000;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.filtrosListaB{
    color:#363636;
    display: flex;
    margin-left:0%;
    margin-top: 2%;
    height:50px;
    width: 260px;
    padding:.5rem;
    font-family: 'Poppins', sans-serif;
    background-color: #a3a3a395;
    border: 2px solid #000;
    border-radius: 10px;
}

.buttoncontainer {
    margin-top: 20px; /* Margem superior para afastar do texto */
}

.buttoncontainer a{
    text-decoration: none;
    font-size: 16px; /* Tamanho do texto do botão */
    font-weight: bolder;
    color: #000000; /* Cor do texto */
}

button.cadastrobutton {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 20%;
    height: 80px;
    background-color: #0085FF;
}
