@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;1,9..40,100;1,9..40,200;1,9..40,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;1,9..40,100;1,9..40,200;1,9..40,300&family=Poppins:ital,wght@0,300;1,200;1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
    color: #FFFFFF;
    padding:20px;
}

div select{
    margin-left: 50%;
}

input {
    width:500px;
    border: none;
    border-radius: 2px;
    padding: 15px;
    background-color: #EBE9E9;
    margin-bottom: 2%;
}

::placeholder{
    font-size: 18pt;
}

label{
    display: flex;
}
 
.buttonInput{ 
    border: none;
    color: #FFFFFF;
    font-size: 15pt;
    width:200px;
    padding: 1rem;
    background-color: #0085FF;
    border-radius: 10px;
    cursor: pointer;
}

*{
    margin:0px;
    padding: 0px;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}


main h2{
    text-align: center;
}

html {
    height: 100%;
}

a{
    text-decoration: none;
    
}

.fundo{
    margin: auto;
    background-color: #ffffff92;
    padding:1.5rem;
    border-radius: 20px;
    margin:0%;
}
.titulo{
    height:50px;
    padding-top: .5%;
    background-color: #ffffff;
    border-radius: 10px;

}
.titulo h2{
    color: #000;
    text-align: left;
    padding-top: 0%;
}

.filtrosContainer{
    display: flex;
    justify-content: space-between;
}

.titulo, .filtrosContainer{
    margin:0%;
}

.filtros p{
    display: block;
    margin: auto;
}

.filtrarMenu{
    display: none;
    background-color: #fff;
    list-style-type: none;
    padding:1rem;
    border-radius:0px 0px 20px 20px;
}

h1{
    text-align: center;
}

input {
    display: flex;
    width:500px;
    border: none;
    border-radius: 2px;
    padding: 20px;
    background-color: #EBE9E9;
    margin-bottom: 2%;
}

::placeholder{
    font-size: 15pt;
}

.buttonInput{ 
    border: none;
    color: #FFFFFF;
    font-size: 15pt;
    width:200px;
    background-color: #0085FF;
    border-radius: 10px;
}

footer{
    color: white;
    text-align: center;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

.infoDispositivo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:20pt;
}

.fundohamadoAberto{
    background-color: #ffffff3f;
    border-radius: 20px;
    padding:2rem;
}

.fundo-chamado-aberto h2{
    color: #000;
}

.status.aberto{
    color: #950000;
}

.status.andamento{
    color: #ead200;
}

.status.concluido{
    color: #3eb900;
}

.text-center{
    text-align: center;
}

.infoChamado, .infoDispositivo{
    display: flex;
}

.fundoDescricao{
    background-color: #FFFFFF;
}

.textChamadoAberto{
    color: gray;
}

.containerNomeNumero{
    justify-content: space-between;
}

.ajuda{
    text-align: right;
    margin-right: 10%;
    padding: 1rem;
}

.notificacao{
    text-align: left;
    padding-left:20%;
    margin: 5px 0px;
}

.notificacao a {
    color: red;
    margin: 0px 5px;
    padding: 0;

}

.ajuda a{
    text-align: right;
}
.ajuda a{
    color:black
}

.divFlex {
    margin: auto;
}

.logoIndex{
    width:100px;
}

.textoHomepage{
    width:300px;
    color: #8CB7DD;
}

#inputDescricao,#inputComentario{
    overflow: auto;
}   

.Body {
    background: #5286DF;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    max-height: 100%;
    overflow: hidden;
}

dialog{
    padding: 4rem;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 10px;
    width:500px;
}

.filtrosLista{
    color:#363636;
    display: flex;
    margin-left:0%;
    margin-top: 2%;
    height:50px;
    padding:.5rem;
    font-family: 'Poppins', sans-serif;
    background-color: #a3a3a395;
    border: 2px solid #000;
    border-radius: 10px;
}

dialog::backdrop{
    background-color:rgba(0, 0, 0, 0.292);
}

dialog button.sim, button.nao{
    border:none;
    padding: 5px 10px
}

dialog button.sim{
    background-color: green;
}
dialog button.nao{
    background-color: red;

}

.logonome{
    width: 55%;
}

.fundoChamado{
    margin-inline: 2%;
    background-color: #ffffff85;
    /* height:630px; */
    border-radius: 20px;
    padding:2%;
}

.postButtonsC{
    color:#363636;
    display: flex;
    margin-left:0%;
    margin-top: 2%;
    width: 215px;
    height:50px;
    padding:.5rem;
    font-family: 'Poppins', sans-serif;
    background-color: #a3a3a395;
    border: 2px solid #000;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.filtrosListaB{
    color:#363636;
    display: flex;
    margin-left:20%;
    margin-top: 2%;
    height:50px;
    width: 260px;
    padding:.5rem;
    font-family: 'Poppins', sans-serif;
    background-color: #a3a3a395;
    border: 2px solid #000;
    border-radius: 10px;
}


.buttoncontainer a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    color: #000000;
}

button.cadastrobutton {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 20%;
    height: 80px;
    background-color: #0085FF;
}

#divBusca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:300px;
    height:32px;
  }
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  #btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
  }
  #divBusca img{
    float:left;
  }
  .filtro{
      display: flex;
      align-items: inline;
  }
  .filtro input{
      color:#363636;
      display: flex;
      margin:3%;
      height:50px;
      padding:.5rem;
      background-color: #a3a3a395;
      border: 2px solid #000;
      border-radius: 10px;
      width: 100%;
  }
  .filtro button{
      background-color: #0085FF;
      border-radius: 10px;
      color:#ffffff;
      margin-top: .5%;
      height: 70px;
      width: 150px;
  }

  tr td input{
    width: 25px;
  }
  .filtros button{
      color:#363636;
      display: flex;
      margin-left:0%;
      height:50px;
      width: 100%;
      padding:.5rem;
      margin: 3%;
      background-color: #a3a3a395;
      border: 2px solid #000;
      border-radius: 10px;
      align-items: center;
  }