*{
    box-sizing: border-box;
}

main{
    min-width: 100vh;
    display: flex;
}

.mainTable{
    width:82vw;
    height:350px;
    background-color:#ffffffaf;
    border-radius: .8rem;
    overflow:hidden;
}

.tableBody{
    width: 95%;
    max-height: calc(89% - .8rem);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.tableBody::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.tableBody:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

table {
    width: 100%;
}

table, th, td{
    border-collapse: collapse;
    padding:1rem;
}

thead th{
    position: sticky;
    top:0;
    left: 0;
}

tr{
    color:#000;
}

body tr:nth-child(even){
    background-color: #0000000b;
}

tbody tr:hover{
    background-color: #fff6;
}

.status{
    padding:.4rem 0;
    border-radius: 2rem;;
}

.status.aberto{
    color: #950000;
}

.status.andamento{
    color: #ead200;
}

.status.concluido{
    color: #3eb900;
}

.ptable{
    font-size: 15pt;
}

