@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;1,9..40,100;1,9..40,200;1,9..40,300&display=swap');

*{
    margin: 0px;
    padding:0px;
}

h1{
    text-align: center;
    color: #FFFFFF;
    padding:20px;
}

input {
    width:500px;
    border: none;
    border-radius: 2px;
    padding: 15px;
    background-color: #EBE9E9;
    margin-bottom: 2%;
}

::placeholder{
    font-size: 18pt;
}

label{
    display: flex;
}
 
.buttonInput{ 
    border: none;
    color: #FFFFFF;
    font-size: 15pt;
    width:200px;
    padding: 1rem;
    background-color: #0085FF;
    border-radius: 10px;
    cursor: pointer;
}

*{
    margin:0px;
    padding: 0px;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}


main h2{
    color: #FFFFFF;
    text-align: center;
}

html {
    background-color: #adc4ed;
    height: 100%;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
}

input {
    display: flex;
    width:500px;
    border: none;
    border-radius: 2px;
    padding: 20px;
    background-color: #EBE9E9;
    margin-bottom: 2%;
}

::placeholder{
    font-size: 15pt;
}

.buttonInput{
    border: none;
    color: #FFFFFF;
    font-size: 15pt;
    width:200px;
    background-color: #0085FF;
    border-radius: 10px;
}

footer{
    color: white;
    text-align: center;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

header h2{
    color: #FFF;
}

.fundoAbrirChamado{
    margin:2%;
    background-color: #ffffffa2;
    padding:2%;
    border-radius: 20px;
}

.containerAbrirChamado{
    padding:0%;
}
.fundoAbrirChamado h1{
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

#iconBackPage{
    margin:1rem ;
}

.fundoAbrirChamado h1{
    color:#000000;
    font-size: 18pt;
    padding: 0%;
}

.colunaEsquerda{
    margin:0%;
    text-align: center;
    display:flex;
    flex-direction: column;
    width:500px;
    height: 410px;
}
.colunaDireita{
    margin-left: 1rem;
    display:flex;
    flex-direction: column;
}

.colunaDireita > textarea{
    width: 100%;
    border: none;
    border-radius: 20px;
}

.colunaDireita ::placeholder{
    text-align: center;
}

.colunaEsquerda ::placeholder{
    text-align: center;
}

.inputFundo{
    width: 100%;
    max-width: 100%;
    height: 100px;
    box-sizing: border-box; 
    background-color: #ffffffc9;
    border: none;
    border-radius: 10px;
}

.flexRow{
    height:50px;
    margin:0%;
    display: flex;
    flex-direction: row;
}

.inputEquipamento{
    width:100%;
    margin:0%;
    margin-top: 1rem;
    background-color: #ffffff97;
}

.inputEquipamento input{
    width:90%;
    margin: 2% 4%;
}

.inputEquipamento, .inputEquipamento > input{
    border-radius: 20px;
}

.inputEquipamento > input{
    background-color: #fff;
    height: 68px;
}

textarea {
    resize: none;
  }
.fundoDescricao{
    background-color: #FFFFFF;
}

.textChamadoAberto{
    color: gray;
}

.containerNomeNumero{
    justify-content: space-between;
}

.ajuda{
    text-align: right;
    margin-right: 20%;
    padding: 1rem;
}
.ajuda a{
    color:blue
}

.divFlex {
    margin: auto;
}

.logoIndex{
    width:100px;
}

.textoHomepage{
    width:300px;
    color: #8CB7DD;
}

#inputDescricao,#inputComentario{
    overflow: auto;
    padding: 5%;
}


dialog{
    padding: 4rem;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 10px;
    width:500px;
}

dialog::backdrop{
    background-color:rgba(0, 0, 0, 0.292);
}

dialog button.sim, button.nao{
    border:none;
    padding: 5px 10px
}

dialog button.sim{
    background-color: green;
}
dialog button.nao{
    background-color: red;

}

.logonome{
    width: 55%;
}

#iconback{
    width:40px;
    height:40px;
    margin: 0%;
}

.flexRow h1{
    margin-block:0%;
}
.container_colunas{
    display:flex;
    margin-left: 10%;
}

.buttonInput{
    margin: auto;
}

.filtrosLista{
    color:#363636;
    display: flex;
    margin-top: 1%;
    width: 100%;
    padding:.5rem;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container_colunas{
        flex-direction: column;
    }

}