<!DOCTYPE html>
<htm lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/base.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Abrir Chamado</title>
</head>
<body>
    <header>
        <a href="/"><img src="assets/img/logo_callgenius.png" alt="Logo - CallGenius"></a>
    </header>
    <main>
        <h2>Abrir chamado</h2>
        <label>
            <p>Título</p>
            <input type="text">
        </label>
        <label>
            <p>Descrição</p>
            <input type="text">
        </label>
        <label>
            <p>Status</p>
            <input type="text">
        </label>
        <label>

    </main>
    <footer>Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
    <a href="/">Homepage</a>
    <a href="/entrar">Entrar</a>
    <a href="/cadastrar">Cadastro</a>
    <a href="/opcaoCadastro">Opções de Cadastro</a>
    <a href="/abrirChamado">Abrir Chamado</a>
</body>
</html>
