<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/header-chamado.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="./assets/img/Vector.svg" type="image/x-icon">
    <title>Abrir Chamado</title>
</head>
<body>
    <header>
        <a href="/"><img src="assets/img/Vector.svg" class= 'logogenie' alt="Logo - CallGenius"></a>
    </header>
    <main>
        <div class="fundo-abrir-chamado">
                <div class="flex-row">
                    <i class="fa-solid fa-arrow-left" id="icon-back-page"></i>
                    <h1>Novo chamado</h1>
                </div>
            <div class="container-abrir-chamado flex-row">
                <div class="coluna-esquerda">
                    <label>
                        <input type="text" placeholder="Título do chamado *" class="input-fundo">
                    </label>
                    <textarea name="input-comentario" id="input-comentario" cols="30" rows="10" class="input-fundo" placeholder="   Comentário"></textarea>
                
                    <div>
                        <label>
                            <input type="text" placeholder="Nome do Equipamento">
                        </label>
                        <label>
                            <input type="number" placeholder="Número de série">
                        </label>
                        <label>
                            <input type="text" placeholder="Tipo de equipamento">
                        </label>
                    </div>

                </div>
                <div class="coluna-direita">
                    <textarea name="input-descricao" id="input-descricao" cols="100" rows="20" placeholder="Descrição do Chamado" class="input-fundo"></textarea>
                    <input type="button" value="Enviar" class="button-input auto">
                </div>
            </div>
        </div>

    </main>
    <footer>Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
</body>
</html>
