<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Seus estilos CSS comuns aqui -->
</head>
<body>
    <header>
        olá mundo
        <!-- Seu cabeçalho comum aqui -->
    </header>
    <main>
        <!-- Conteúdo específico da página será inserido aqui -->
        <!--CONTENT-->
        <hr>
    </main>
    <footer>
        <!-- Seu rodapé comum aqui -->
    </footer>
</body>
</html>