<!DOCTYPE html>
<htm lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/base.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Cadastre-se</title>
</head>
<body>
    <header>
        <a href="/"><img src="assets/img/logo_callgenius.png" alt="Logo - CallGenius"></a>
    </header>
    <div class="fundo">
        <main>
            <h2>Cadastro</h2>
            <label>
                <p>Name</p>
                <input type="text">
            </label>
            <label>
                <p>CPF</p>
                <input type="number">
            </label>
            <label>
                <p>E-mail</p>
                <input type="email">
            </label>
            <label>
                <p>Telephone</p>
                <input type="tel">
            </label>
            <label>
                <p>Adresss</p>
                <input type="text">
            </label>
            <input type="button" value="Sing Up">
        </main>
    </div>
    <footer>Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
    <a href="/">Homepage</a>
    <a href="/entrar">Entrar</a>
    <a href="/cadastrar">Cadastro</a>
    <a href="/opcaoCadastro">Opções de Cadastro</a>
    <a href="/abrirChamado">Abrir Chamado</a>
</body>
</html>
