<!DOCTYPE html>
<htm lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/base.css">
    <link rel="stylesheet" href="./style/cadastro.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Cadastre-se</title>
    <style>
        .logonome{
            width: 55%;
        }
    </style>
</head>
<body>
    <header>
        <a href="/"><img src="assets/img/CallGenielogosvg.svg" class="logonome" alt="Logo - CallGenius"></a>
    </header>
    <h1>Registro de Suporte Técnico</h1>
    <!-- Registro de cliente -->
    <div class="fundo-cadastro">
        <main>
            <div class="cadastro-container">
                <form action="">
                    <label>
                        <input type="text" placeholder="Nome">
                    </label>
                    <label>
                        <input type="text" placeholder="Nome de Usuário">
                    </label>
                    <label>
                        <input type="email" placeholder="E-mail">
                    </label>
                    <label>
                        <input type="tel" placeholder="Telefone">
                    </label>
                    <label>
                        <input type="number" placeholder="CEP">
                    </label>
                    <label>
                        <input type="number" placeholder="CPF">
                    </label>
                    <label>
                        <input type="text" placeholder="Endereço">
                    </label>
                    <input type="button" value="Cadastrar-se" class="button-input">
                </form>
            </div>
        </main>
    </div>
    <footer>Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
</body>
</html>
