<!DOCTYPE html>
<htm lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/base.css">
    <title>Abrir Chamado</title>
</head>
<body>
    <header>
        <a href="/"><img src="assets/img/logo_callgenius.png" alt="Logo - CallGenius"></a>
        <img src="../public/assets/img/user.png" alt="Usuário">
        <p>Olá, user</p>
        <!-- Ícone de Exit -->
    </header>
    <main>
        <div class="fundo">
            <div>
                <h2>Meus Chamados</h2>
            </div>
            <div class="tabela-chamados">
                <button>Abrir novo chamado</button>
            </div>
        </div>
    </main>
    <footer>Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
    <a href="/">Homepage</a>
    <a href="/entrar">Entrar</a>
    <a href="/cadastrar">Cadastro</a>
    <a href="/opcaoCadastro">Opções de Cadastro</a>
    <a href="/abrirChamado">Abrir Chamado</a>
</body>
</html>
