<!DOCTYPE html>
<htm lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/header-chamado.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/style-table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Chamado</title>
</head>
<body>
    <header>
        <a href="/"><img src="assets/img/Vector.svg" class= 'logogenie' alt="Logo - CallGenius"></a>
        <img src="../public/assets/img/user.png" alt="Usuário" id="logo-fundo-brando">
        <p>Olá, user</p>
        <button><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
    </header>

    <a id="ajuda" href="#">Preciso de ajuda</a>
    <main>
        <div class="fundo">
            <!-- Os parágrafos abaixo representam variáveis! -->
            <div class="info-dispositivo">
                <p>Teste 1</p>
                <p>Ordem:#0001</p>
                <p>03/01/2023</p>
                <p>Chamado Em Aberto</p>
            </div>

            <div class="descricao fundo-descricao">
                <!-- Aqui será mostrado a descrição do chamado -->
                <p>Meu computador queimou, comprei com vocês na terça-feira passada dia 26 de Dezembro, comprei como presente de Natal, porém ao ligar ele agora o mesmo queimou. </p>
            </div>

            <div class="info-chamado">
                <h2>Equipamento Cadastrado</h2>
                <p>Nome: Computador User</p>
                <p>Número de série: 11111111</p>
                <p>Tipo de equipamento:: Computador Desktop</p>
            </div>

            <h2>Comentários</h2>
            <textarea name="" id="" cols="30" rows="10" placeholder="Clique aqui para adicionar um comentário ao chamado"></textarea>
            <p>Prazo de resposta até:07/01/2023</p>
            <p>Agradecemos o contato, aguarde a resposta de um de nossos suportes</p>
        </div>
    </main>
    <footer>Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
</body>
</html>
