<!DOCTYPE html>
<htm lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/header-principal.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Contato</title>
</head>
<body>
    <header>
        <a href="/"><img src="assets/img/CallGenielogosvg.svg" class="logonome" alt="Logo - CallGenius"></a>
    </header>
    <main>
    </main>
    <footer>Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
</body>
</html>
