<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/header-principal.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="shortcut icon" href="./assets/img/Vector.svg" type="image/x-icon">
    <title>Login</title>
    <style>
        .logonome{
            width: 55%;
        }
    </style>
</head>
<body>
    <header>
        <a href="/"><img src="assets/img/CallGenielogosvg.svg" class="logonome" alt="Logo - CallGenius"></a>
    </header>
    <div class="fundo-cadastro">
        <div class="cadastro-container">
            <main>
                <h1>Bem-vindo(a)!</h1>
                <form action="">
                    <label>
                        <img src="/public/assets/img/user.png" alt="imagem" id="logo-index">
                        <input type="text" placeholder="Nome de usuário">
                    </label>
                    <label>
                        <img src="/public/assets/img/user.png" alt="imagem">
                        <input type="text" placeholder="Senha">
                    </label>
                    <a href="#">Esqueci a minha senha</a>
                    <input type="button" value="Entrar" class="button-input">
                </form>
            </main>
            </div>
            <p>Novo no callgenie? <a href="/cadastrar">Cadastre-se</a></p>
    </div>
    <footer>Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
</body>
</html>
