<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="shortcut icon" href="./assets/img/Vector.svg" type="image/x-icon">
    <title>FAQ</title>
    <style>
        .logonome{
            width: 70%;
        }
    </style>
    <style>
        .logonome{
            width: 70%;
        }
    </style>
</head>
<body>
  <nav>
    <a href="/" class="logo"><img src="assets/img/CallGenielogosvg.svg" class="logonome" id="logo-index" alt="Logo"></a>
    <div class="nav-buttons">
      <a href="/cadastrar">Cadastrar</a>
      <a href="/entrar">Entrar</a>
      <a href="/sobre">Sobre</a>
    </div>
  </nav>
    <main>
            <div >
                <h1>FAQ </h1>
                <h2>Bem-vindo(a) ao FAQ! Essa página é totalmente dedicada a tirar dúvidas e ajudar o usuário a ter uma melhor experiência em nosso sistema!

                    Acesse o vídeo tutorial para saber como utilizar o sistema da CallGenius clicando no link abaixo:
                    
                    https;//youtube.com/EXEMPLO</h2>
                <div class="button-container">
                    <h2>Não encontrou uma resposta? Confira o manual de usuário!</h2>
                </div>
                </div>
            </div>
            <div >
                <img src="assets/img/imagem-homepage.svg" alt="imagem-homepage" class="fundo">
            </div>
    </main>
    <footer>
        <a>Copyright © 2023 Syntax Squad | Todos os direitos reservados</a>
    </footer>
</body>
</html>
