<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="shortcut icon" href="./assets/img/Vector.svg" type="image/x-icon">
    <title>Sobre</title>
</head>
<body>
  <nav>
    <a href="/">
      <img src="assets/img/CallGenielogosvg.svg" alt="Logo" id="logo-index">
    </a>
    <div class="nav-buttons">
      <a href="/cadastrar">Cadastrar</a>
      <a href="/entrar">Entrar</a>
      <a href="/sobre">Sobre</a>
      <a href="/FAQ">FAQ</a>
    </div>
  </nav>
    <main>
            <div>
                <h1>Call Gennie.</h1>
                <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h2>
                <div class="button-container">
                  <a href="/cadastrar"><button class="cadastro-button">CADASTRE-SE</button></a>
                </div>
                </div>
            </div>
            <div >
                <img src="assets/img/imagem-homepage.svg" alt="imagem-homepage" class="fundo">
            </div>
    </main>
    <footer>
        <a>Copyright © 2023 Syntax Squad | Todos os direitos reservados</a>
    </footer>
</body>
</html>
