<!DOCTYPE html>
<htm lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Home</title>
</head>
<body>
    <header>
        <a href="/"><img src="/assets/img/logo_callgenius.png" alt="Logo - CallGenius"></a>
        <nav>
            <a href="/cadastrar">CADASTRE-SE</a>
            <a href="/entrar">ENTRAR</a>
            <a href="/sobre">SOBRE</a>
        </nav>
    </header>
    <main>
        <h1>CallGenie</h1>
        <p class="texto-homepage">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <a href="/opcaoCadastro"><button>Cadastre-se</button></a>
        <!-- Imagem svg -->
    </main>
    <footer>Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
    <a href="/">Homepage</a>
    <a href="/entrar">Entrar</a>
    <a href="/cadastrar">Cadastro</a>
    <a href="/opcaoCadastro">Opções de Cadastro</a>
    <a href="/abrirChamado">Abrir Chamado</a>
</body>
</html>
