<!DOCTYPE html>
<htm lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/base.css">
    <link rel="stylesheet" href="style/cadastro-opcoes.css">
    <title>Opções de cadastro</title>
</head>
<body>
    <header>
        <a href="/"><img src="assets/img/logo_callgenius.png" alt="Logo - CallGenius"></a>
    </header>
    <main>
        <p>Which of the options do you fit?</p>
        <div class="cadastro-opcoes">
            <a href="/cadastrar">
                <div class="cadastro-opcao">
                    <img src="assets/img/user.png" alt="ADMIN">
                    <p>ADMIN</p>
                </a>
                </div>
            <a href="/cadastrar">
                <div class="cadastro-opcao">
                    <img src="assets/img/user.png" alt="SUPORTE">
                    <p>SUPORTE</p>
                </a>
                </div>
            <a href="/cadastrar">
                <div class="cadastro-opcao">
                    <img src="assets/img/user.png" alt="CLIENTE">
                    <p>CLIENTE</p>
                </a>
                </div>
        </div>
        <p><a href="#">Clique Aqui se precisar de ajuda</a></p>
    </main>
    <footer>Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
    <a href="/">Homepage</a>
    <a href="/entrar">Entrar</a>
    <a href="/cadastrar">Cadastro</a>
    <a href="/opcaoCadastro">Opções de Cadastro</a>
    <a href="/abrirChamado">Abrir Chamado</a>

</body>
</html>
