@import url('http.homes://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;1,9..40,100;1,9..40,200;1,9..40,300&display=swap');

*{
    margin:0px;
    padding: 0px;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

header {
    text-align: left;
    padding: 20px;
}

.colunaEsquerda label input{
    width: 100%;
    border-radius: 20px;
    height: 30px;
    text-align: center;
}

.colunaEsquerda div label input{
    height: 300px;
}

.colunaEsquerda div{
    margin-left: 0;

}

#logoindex{
    width:300px;
}

.logonome{
    top: 0;
}

.navbuttons a{
    font-size: 20pt;
}

.homefundo {
    background: linear-gradient(to bottom right, black, #6C9BEC);
    display: flex;
    flex-direction: column;
    height: 100%;
}


body h1, body h2{
    color:#8CB7DD;
}

body h1{
    text-align: left;
    font-size: 40pt;
}

body h2, summary, p{
    text-align: justify;
}

a{
    text-align: center;
    color: aliceblue;
    padding-top: 3%;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    padding: 5px;
    justify-content: center 
}

main.main_texto{
    min-width: 50vh;
}

.main_texto {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-left: 5%;
}

main div {
    text-align: center;
    flex: 1; 
    margin-left: 3%;
}

main div a {
    margin-top: 0;
    width: 30px;
}

.fudo



@media (max-width: 768px) {
    .navbuttons{
        flex-direction: column;
    }
    main {
        flex-direction: column; 
    }
    nav .navbuttons {
        flex-direction: column;
        gap: 10px;
        margin-right: 5%;
    }

    main img {
        margin-right: 0; 
    }

    .flex{
        flex-direction: column;
    }

    .flex > h2{
        width:100%;
    }

    button.cadastrobutton {
        height:120px;
    }
    .faqcontainer{
        max-width: 90%;
    }


}

button.cadastrobutton {
    background-color: #0085FF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    width: 60%;
}

.buttoncontainer {
    margin-top: 20px;
}

.buttoncontainer a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    color: #000000;
}

nav {
display: flex;
justify-content: space-between;
margin-right: 5%;
align-items: center;
}
nav a{
    padding-top: 1rem;
}

.navbuttons {
gap: 100px;
}

.navbuttons a {
color: white;
text-decoration: none;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
}

nav .navbuttons {
display: flex;
}

nav .navbuttons a{
    padding-top: 0%;
}

nav .navbuttons a {
color: #fff;
text-decoration: none;
}

.flex{
    display: flex;
}

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor:pointer;
}

.faqcontainer{
    margin-top:2.5%;
}

details > p{
    width:700px;
    text-align: justify;
}

summary{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.respostaFaq{
    animation: fade 1s ease-in-out;
}

@keyframes fade{
    from {
        opacity:0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.flexRow a {
    text-align: left;
    flex: 1; 
    margin: 0;
}