@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;1,9..40,100;1,9..40,200;1,9..40,300&display=swap');

header{
    background:none;
}

form{
    padding:5%;
}

h1{
    text-align: center;
    color: #FFFFFF;
    padding:20px;
}

input {
    width:500px;
    border: none;
    border-radius: 2px;
    padding: 15px;
    background-color: #EBE9E9; /* cor do plano de fundo */
    margin-bottom: 2%;
}

::placeholder{
    font-size: 18pt;
}

label{
    display: flex;
}
 
.buttonInput{
    margin: auto;
    border: none;
    color: #FFFFFF;
    font-size: 15pt;
    width:160px;
    padding: 1rem;
    background-color: #0085FF;
    border-radius: 10px;
    cursor: pointer;
    left:60%;
}
*{
    margin:0px;
    padding: 0px;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

main div {
    text-align: center;
    flex: 1 1;
    margin-left: 3%;
    height: 90px;
}


main h2{
    color: #FFFFFF;
    text-align: center;
}


html {
    background-color: #adc4ed;
    /* background-repeat: no-repeat; */
    height: 100%;
}

a{
    text-decoration: none;
}


h1{
    text-align: center;
}

input {
    display: flex;
    border: none;
    border-radius: 2px;
    padding: 20px;
    background-color: #EBE9E9; /* cor do plano de fundo */
    margin-bottom: 2%;
}

::placeholder{
    font-size: 15pt;
}

#meusChamadosTitle h2{
    padding:.5rem;
    color: #000;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: left;
}

.buttonInput{ 
    /* Estilo de inputs do tipo 'button' */
    border: none;
    color: #FFFFFF;
    font-size: 15pt;
    width:200px;
    background-color: #0085FF;
    border-radius: 10px;
}

footer{
    color: white;
    text-align: center;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

header h2{
    color: #FFF;
}

#iconBackPage{
    margin:1rem ;
}

#logoIndexAlterarDados{
    margin-top: 2rem;
    width:400px;
}


#iconback{
    width:40px;
    height:40px;
    margin: 0%;
}

#h2_AlterarDados{
    margin: auto;
    padding-top: .5%;
    color: #fff;
    text-align: center;
}

.alterarDados_container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto;
    margin-top: 2rem;
    background-color: rgba(239, 239, 239, 0.418);
    padding:3%;
    /* padding-top: 100px; */
    border-radius:20px;
    width: 60%;
}

label input{
    width:800px;
}

.alterarDados_container label{
    display: inline;

}
