.relatorio form label input {
    display: flex;
    width: 30px;
    border: none;
    border-radius: 2px;
    padding: 0;
    background-color: #000;
    margin-bottom: 0;
}

.Body {
    background: #5286DF;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    max-height: 100%;
    overflow: hidden;
}

.relatorio{
    background-color: rgb(138, 172, 245);
    margin-inline: 5% ;
    border-radius: 10px;

}

.relatorio form label {
    display: flex;
    flex-direction: row-reverse;
    border-color: #000;
    border-bottom: solid;
    border-bottom-color: black;
    border-width: 1px;
}

.relatorio form label p {
    color: black;
    margin:auto;
    font-size: xx-large;
}

form{
    width: 90%;
    margin-left: 2%;
    
}

label{
    display: flex;
    flex-direction: row-reverse;
}

button {
    margin-inline: 45%;
    border: none;
    margin-top: 5%;
    color: #FFFFFF;
    font-size: 20pt;
    width: 200px;
    padding: 1rem;
    background-color: #0085FF;
    border-radius: 10px;
    cursor: pointer;
}

.filtrosLista{
    color:#363636;
    display: flex;
    margin-top: 5%;
    height:50px;
    width: 300px;
    padding:.5rem;
    font-family: 'Poppins', sans-serif;
    background-color: #a3a3a395;
    border: 2px solid #000;
    border-radius: 10px;
}

.filtrosListaB{
    color:#363636;
    display: flex;
    margin-left:0%;
    margin-top: 2%;
    height:50px;
    width: 260px;
    padding:.5rem;
    font-family: 'Poppins', sans-serif;
    background-color: #a3a3a395;
    border: 2px solid #000;
    border-radius: 10px;
}

.filtros{
    color:#363636;
    display: flex;
    margin-left:0%;
    height:50px;
    padding:.5rem;
    margin:.5%;
    background-color: #a3a3a395;
    border: 2px solid #000;
    border-radius: 10px;
}
.filtrosContainer{
    display: flex;
    justify-content: space-between;
    margin-inline: 20%;
}