/* Estilos para Index e FAQ */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;1,9..40,100;1,9..40,200;1,9..40,300&display=swap');

*{
    margin:0px;
    padding: 0px;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

body, html {
    background: #5286DF;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    overflow: hidden;
}

header {
    text-align: left;
    padding: 20px;
}

#logoindex{
    width:300px;
}

.logonome{
    top: 0;
}

.navbuttons a{
    font-size: 20pt;
}

.fundi {
    background: linear-gradient(to bottom right, black, #6C9BEC);
    display: flex;
    flex-direction: column;
    height: 100vh;
}


body h1, body h2{
    color:#8CB7DD;
}

body h1{
    text-align: center;
    font-size: 40pt;
}

body h2{
    text-indent: 8%;
    width:523px;
    text-align: justify;
    padding-top: 5%;
}

.fundo {
    width: 100%;
    height: auto;
}

a{
    text-align: center;
    color: aliceblue;
    padding-top: 3%;
}

footer {
    position: static;

    text-align: center;
    color: #ffffff;
    padding: 5px;
    justify-content: center
}

main img {
    max-width: 30%; 
    height: auto; 
    margin-left: 15%;

}

.main_div {
    display: inline;
    align-items: center;

}
.main_div_user {
    width: 50%;
    height:50%;
    border-radius: 15px;
    display: flex;
    margin-inline: 25%;
}

.opcaousuario{

}


@media (max-width: 768px) {
    main {
        flex-direction: column; 
        margin-left: 0;
        align-items: center;
        margin-left: 5%;
    }
    nav .nav-buttons {
        flex-direction: column;
        gap: 10px;
        margin-right: 5%;
    }

    main img {
        margin-right: 0; 
    }

}

.button_cadastrobutton {
background-color: #8CB7DD;
border: none;
padding: 10px 225px;
cursor: pointer;
border-radius: 15px;
text-align: center;
}

.buttoncontainer {
    margin-top: 20px;
}

.buttoncontainer a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    color: #000000;
}

nav {
display: flex;
justify-content: space-between;
margin-right: 5%;
align-items: center;
}
nav a{
    padding-top: 1rem;
}

.navbuttons {
gap: 100px;
}

.navbuttons a {
color: white;
text-decoration: none;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
}

nav .navbuttons {
display: flex;
}

nav .navbuttons a{
    padding-top: 0%;
}

nav .navbuttons a {
color: #fff;
text-decoration: none;
}

h3{
    text-align: center;
}

.fundo_cadastro{
    max-width: 100%;
    background-color: #ffffff72;
    border-radius: 2%;
    margin: auto;
    width: 600px;
}

.cadastro_suporte_container{
    display:block;
    margin:auto;
    /* margin-right:0%; */
    padding:5%;
    background-color: rgba(239, 239, 239, 0.562);
    width:660px;
    border-radius:25px;
    position: relative;
}

.cadastro_container{
    display:block;
    margin:auto;
    background-color: rgba(239, 239, 239, 0.562);
    width:570px;
    padding:2%;
    border-radius:25px;
    position: relative;
}

.cadastro_container input{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.212);
}

h1{
    text-align: center;
    color: #FFFFFF;
    padding:20px;
}

input {
    width:500px;
    border: none;
    border-radius: 2px;
    padding: 15px;
    background-color: #EBE9E9;
    margin-bottom: 2%;
    height: 50px;
}

::placeholder{
    font-size: 18pt;
}

label{
    display: flex;
}
 
.button_input{
    border: none;
    color: #FFFFFF;
    font-size: 15pt;
    width:160px;
    padding: 1rem;
    background-color: #0085FF;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    left:105%;
    top:87%;
}

*{
    margin:0px;
    padding: 0px;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}


main h2{
    color: #FFFFFF;
    text-align: center;
}

.cadastro_opcao{
    background-color: #ffffff6a;
    width: 300px;
    height: 250px;
    border-radius: 5%;
    margin: 0 auto;
}

.cadastro_opcoes a {
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}

.cadastro_opcao img{
    padding-top: 10%;
    width:400px;
}

.cadastro_opcoes{
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    background-color: #adc4ed;
    height: 100%;
}
a{
    text-decoration: none;
}

h1{
    text-align: center;
}

input {
    display: flex;
    width:500px;
    border: none;
    border-radius: 2px;
    padding: 20px;
    background-color: #EBE9E9;
    margin-bottom: 2%;
}


::placeholder{
    font-size: 15pt;
}

#meus-chamados-title h2{
    padding:.5rem;
    color: #000;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: left;
}

.button-input{ 
    border: none;
    color: #FFFFFF;
    font-size: 15pt;
    width:200px;
    background-color: #0085FF;
    border-radius: 10px;
}

footer{
    color: white;
    text-align: center;
    bottom: 0px;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.main_div_user a {
    margin-top: 0;
    padding: inherit;
}

.cadastro_opcao img {
    max-width: 50%;
    height: auto;
    margin: 0;
}

.main_div h2{
    align-items: center;
    margin: auto;
}

main p a {
    margin-top: 30px;
    padding-top: 0;
    color: blue;
}

.imagem_titulo_container{
    display:flex;
}

.container_marginAuto{
    width:500px;
    display:block;
    margin:auto;
}

.imagemuser{
    margin: 0px;
}

main div {
    text-align: center;
    flex: 1 1;
    margin-left: 3%;
    height: 90px;
}

.idsupervisor_container{
    display:block;
    margin:auto;
    background-color: rgba(239, 239, 239, 0.562);
    width:400px;
    padding:5%;
    border-radius:25px;
}
.idsupervisor_container input{
    margin: auto;
    width:320px;
    height:100px;
    font-size: 20pt;
}

#useradm{
    margin: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"] {
    -webkit-appearance: textfield; /* Safari */
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Outros navegadores */
}
