/* Estilos para Index e FAQ */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;1,9..40,100;1,9..40,200;1,9..40,300&display=swap');

*{
    margin:0px;
    padding: 0px;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

body {
    background: #5286DF;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    overflow: scroll;
}

header {
    text-align: left;
    padding: 20px;
}

#logoindex{
    width:500px;
}

body h1{
    text-align: center;
    font-size: 40pt;
    color: #fff;
}

body h2{
    text-indent: 8%;
    width:523px;
    text-align: justify;
    padding-top: 5%;
}

a{
    text-align: center;
    color: aliceblue;
    padding-top: 3%;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    color: #ffffff;
    padding: 5px;
    justify-content: center
}

@media (max-width: 768px) {
    main {
        flex-direction: column; 
        margin-left: 0;
        align-items: center;
        margin-left: 5%;
    }
    nav .nav-buttons {
        flex-direction: column;
        gap: 10px;
        margin-right: 5%;
    }

    main img {
        margin-right: 0; 
    }


}

nav {
display: flex;
justify-content: space-between;
margin-right: 5%;
align-items: center; /* Centraliza verticalmente os itens */
}
nav a{
    padding-top: 1rem;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
}

p{
    text-align: center;
}

body p a {
    color: blue;
}

.cadastro_container{
    align-items: center;
    justify-content: center;
    display:block;
    margin:auto;
    background-color: rgba(239, 239, 239, 0.216);
    padding:5%;
    padding-top: 100px;
    border-radius: 0px 0px 15px 15px;
    width: 45%;
}

.button_inputEntrar{ 
    /* Estilo de inputs do tipo 'button' */
    border: none;
    color: #FFFFFF;
    font-size: 15pt;
    width:160px;
    padding: 1rem;
    background-color: #0085FF;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin:auto;
    margin-top: 50px;
}
.input{
    width: 650px;
    margin-bottom: 40px;
}

.h2Entrar{
    width:650px;
    margin-bottom: 50px;
}

main.entrar{
    position: relative;
    top: 50%;
    transform: translateY(-50%, -50%); 
}